@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


/* *{
    border: 2px solid blue;
} */

/* , means and . means class # means id */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color: #D2B48C;
}
header {
    background-color: #5B7D78;
    font-family: Humans, Arial, Elephant; 
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
body {
    background-color: #7B8480;
    font-family: Georgia, BlueHighway, Arial;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color: white;
}
.home-title {
    color: black;
    font-family: Humans, Arial, Elephant; 
    font: 2em;
    margin-top: 10px;
}
#hero_image {
    width: 100%;
}
#hero_msg h1, #hero_msg h4, .button_box {
    text-align: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
h4 {
    color: Black;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.book, .join {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    color: #D2B48C;
}
.card_img {
    border: 10px solid black;
}
.rivers_card, .camping_card, .rapids_card {
    margin: 200px 0;
}
.msg {
    background-color: #5B7D78;
    color: black;
    line-height: 1.5em; 
    padding: 35px;
}
h2 {
    margin: 0;
}
.msg h2 {
    color: black;
    font-family: Humans, Arial, Elephant; 
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
.mountains {
    margin: 100px 0;
}
footer {
    background-color: #5B7D78;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer .social img{
    padding-top: 15px;
}
footer a:hover {
    color: white;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
